<body>
    <!-- ncf 

        return "rotas disponíveis:<br>"+
            Object.keys(require("../routeList"))
            .map(r=>'<a href="'+r+'">'+r+'</a>')
            .join("<br>")
    -->
    
    <br><br><br><br>


    <!-- ncf
        var vals = JSON.parse(componentSetupValue);
        return vals.a
    -->

    <br><br><br><br>

    <!-- ncf 
    // teste
    return require("express")
    -->
    
</body>


<script selector="body">
    // ncf return "console.log(3)"
    //ncf return "console.log(4)"
    /*ncf return "console.log(5)" */
    /* ncf return "console.log(6)" */

    // ncf return "console.log("+this.myn+")"
</script>

<style>
    a {color: red;}
    body{
        color: white;
        /*ncf return "background: darkblue !important;" */
        /*ncf return "border-radius: 10px;" */
    }
</style>