<!-- ncf-header needsreset -->

<body>
    <!-- ncf 
            if(!this.visitedAmount) this.visitedAmount=0
    
            return "Este lugar foi visitado <b>" + visitedAmount + "</b> vez" + (!((visitedAmount++)-1)? "": "es") + " desde que o servidor foi iniciado";
    --> 
</body>

<script>
    /* ncf
        return `console.log("this is JS executed")`;
    */

    // ncf return `console.log("this is JS executed")`;

</script>

<style>
    body {
        background: white;
        text-align: center;
        border-radius: 5px;
        /* ncf return `color: blue;` */
    }
</style>